# Python compiled
*.pyc

# Logs, Factoids, Goodies, Channels, and so on...
*.txt

# vim swap files
*.swp

# No idea what is this, probably also related to vim
*.swo

# Lock files
~*
*~
# ErEnUa
ErEnUa.py
